/* styles.css */

/*adds shadow to bottom of navbar*/
#navbar{
    box-shadow: 0 4px 2px -2px gray;
}

/*basic navbar button*/
#navbarButtonA{
    background-color: white; 
    border-color: white;
    margin-right: 1em;
}

/*navbar button for appointment*/
#navbarButtonB {
    background-color: #727B90; 
    color: white; 
    border-radius: 10px;
}

/*title*/
#title {
    font-family: 'Quattrocento';
    font-size: 65;
}

/*horizontal name under title*/
.section-title-hr {
    width: 50em;
    height: 1px;
    border: 1px solid black;
    background-color: black;
    display: block;
    opacity: .60;
  }

/*slogan*/
#slogan {
    font-family: 'Inter';
    color: #828282;
    text-shadow: 0px 7px 30px #828282;

}

/*new rounded corner to replace bootstrap roun*/
.round_corner {
    border-radius: 10px;
}

/*Reviews box*/
.reviews_box {
    background-color: 4378AA;
}

/*Reviews title*/
.reviews_title {
    font-family: 'Quattrocento';
    color: white;
}

/*Reviews cards*/
.card {
    border-radius: 10px;

}

/*Reviews id*/
.review_id {
    display: inline-block;
}

/*reviews image*/
.reviews_image {
    width: 4em;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}

/*main text of review*/
.review_review {
    font-family: 'Inter'; 
    margin-bottom: 1em;
}

/*footer apart*/
#apart {
    display: flex;
    justify-content: space-between;
}

/*Body text*/
.body {
    font-family: 'Inter';
    font-size: larger;
}
.body2 {
    font-family: 'Inter';
    font-size: large;
}

/*About Us Image*/
.about_us_image {
    width: 400px;
    border-radius: 10px;
    border: 2px solid #192E41;
}

/*to center image in column*/
#alignImage {
    display: flex;
    align-items: center;
    justify-content: center
}

/*card colour & border*/
#card_style {
    background-color: #192E41;
    border: 2px solid black;
}

/*text colour and size for expert card*/
#expert_card_1 {
    font-family: 'Quattrocento';
    color: white;
}
#expert_card_2 {
    font-family: 'Inter';
    color: white;
    font-size: 1.05em;
}

/*horizontal bar in expert cards*/
.section-title-hr_2 {
    width: 17em;
    height: 1px;
    border: 1px solid white;
    background-color: white;
    display: block;
    opacity: .60;
    margin: 0;
    margin-bottom: 1em;
  }

.round_image_corner {
    border-radius: 25px;
    border: 2px solid black;
    height: 50em;
}

/*carousel colour & border*/
#carousel_style {
    background-color: #192E41;
    border: 2px solid black;
    border-radius: 10px;

}

/*carousel title*/
.carousel_title {
    font-family: 'Quattrocento';
}